:root {
  --color-darkgray: #181818;
  --color-gray: #252627;
  --color-green: #67e813;
  --color-darkgreen: #1dbf5e;
  --main-bg-color: #1e1f20;
  --main-fnt-color: #ffffff;
  --side-bar-width: 75px;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-fnt-color);
  display: grid;
  grid-template-columns: var(--side-bar-width) 1fr;
}
.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
a {
  text-decoration: none;
  display: inline;
  color: var(--main-fnt-color);
}
header {
  width: var(--side-bar-width);
  height: 100%;
  background-color: var(--color-darkgray);
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  justify-items: center;
  align-items: center;
}
header section {
  text-align: center;
}
nav section {
  margin-top: 50px;
  margin-bottom: 50px;
}
nav section span,
.home_main_media span {
  display: block;
  width: 30px;
  height: 30px;
  background-size: contain;
  margin: auto;
  transition: background 0.3s linear;
}

.nav_icon_home {
  background: url(../assets/fonts/home.svg) no-repeat top left;
}
.nav_icon_home:hover {
  background: url(../assets/fonts/home_green.svg) no-repeat top left;
}
.nav_icon_profile {
  background: url(../assets/fonts/profile.svg) no-repeat top left;
}
.nav_icon_profile:hover {
  background: url(../assets/fonts/profile_green.svg) no-repeat top left;
}
.nav_icon_code {
  background: url(../assets/fonts/code.svg) no-repeat top left;
}
.nav_icon_code:hover {
  background: url(../assets/fonts/code_green.svg) no-repeat top left;
}
.nav_icon_contact {
  background: url(../assets/fonts/contact.svg) no-repeat top left;
}
.nav_icon_contact:hover {
  background: url(../assets/fonts/contact_green.svg) no-repeat top left;
}
.icon_toxic {
  display: block;
  width: 30px;
  height: 30px;
  background-size: contain;
  margin: auto;
  background: url(../assets/fonts/toxic.svg) no-repeat top left;
}
.home_main {
  display: grid;
  grid-template-columns: 8fr 2fr;
  background: url(../assets/img/cover.png) no-repeat center fixed;
  background-size: cover;
}
.home_main_info {
  place-self: center;
}
.home_main_info_text {
  font-size: 70px;
  margin: 0;
}
.home_main_info_text span {
  color: var(--color-green);
}
.home_main_info_title em {
  font-size: 18px;
  color: gray;
}
.home_main_button {
  display: block;
  width: 110px;
  height: 50px;
  background: transparent;
  color: var(--color-green);
  text-align: center;
  border: 1px solid var(--color-green);
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 40px;
  text-shadow: 0 0 3px var(--color-darkgreen);
  box-shadow: 0 2px 3px 0 var(--color-darkgreen);
  transition: background 0.4s ease-out, box-shadow 0s ease-out, color 0.4s;
}
.home_main_button:hover {
  background: var(--color-green);
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
  text-shadow: none;
  box-shadow: none;
}
.home_main_media {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}
.home_main_media div {
  display: flex;
  justify-content: center;
}
.home_main_media div a {
  margin-left: 30px;
}
.nav_icon_twitter {
  background: url(../assets/fonts/twitter.svg) no-repeat top left;
}
.nav_icon_twitter:hover {
  background: url(../assets/fonts/twitter_green.svg) no-repeat top left;
  display: block;
  width: 30px;
  height: 30px;
  background-size: contain;
  margin: auto;
}
.nav_icon_linkedin {
  background: url(../assets/fonts/linkedin.svg) no-repeat top left;
}
.nav_icon_linkedin:hover {
  background: url(../assets/fonts/linkedin_green.svg) no-repeat top left;
  display: block;
  width: 30px;
  height: 30px;
  background-size: contain;
  margin: auto;
}
.home_main_media img {
  max-width: 300px;
  margin-bottom: 20px;
  padding: 10px;
}
